.slider {
  display: flex;
  position: relative;
  height: 25vh;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 5px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  border-radius: 10px;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}